app/etc/local.xml
media/catalog/product/cache/*
media/tmp/*
errors/local.xml
var/cache
var/session
var/locks
var/package
var/importexport
var/log
var/report
downloader/*
.htaccess
!*/.htaccess
detail.txt